import { defineNotification, defineRoute } from "./core";
{% if model_import %}{{ model_import }}
{% endif %}
{% if routes %}
export const routes = {
{% for route in routes %}  {{ route | route_key }}: defineRoute<{{ route | route_params }}, {{ route.result | type }}>({
    method: {{ route.rpc_name | literal }},
{% if route.server is not none %}    server: {{ route.server | literal }},
{% endif %}  }),
{% endfor %}} as const;
{% endif %}{% if notifications %}
export const notifications = {
{% for event in notifications %}  {{ event | route_key }}: defineNotification<{{ event.payload | type }}>({
    method: {{ event.rpc_name | literal }},
{% if event.server is not none %}    server: {{ event.server | literal }},
{% endif %}  }),
{% endfor %}} as const;
{% endif %}
