{% from "python/macros.py.j2" import operation, notification with context %}{% for node in nodes %}class {{ node.path | api_class }}:
    def __init__(self, rpc: RpcClientCore) -> None:
        self._rpc = rpc
{% for child in node.children %}        self.{{ child.segment | identifier }} = {{ child.path | api_class }}(rpc)
{% endfor %}{% for route in node.operations %}
{{ operation(route) }}{% endfor %}{% for event in node.notifications %}
{{ notification(event) }}{% endfor %}{% if not loop.last %}


{% endif %}{% endfor %}
